

@media only screen and (max-width:768px) {
    .hide-on-mobile {
        display: none;
    }
    .on-mobile {
        display: block;
    }
    .navbar__link {
        padding: 0 10px;
    }
    .navbar__item {
        font-size: 22px;
    }
    .slider-img {
        height: 250px;
    }
    html {
        text-align:left;
    }
    .content {
        padding: 10px 0;
    }
    .subslider {
        text-align:left;
    }
    .subslider__heading {
        padding: 8px 0;
    }
    .subslider__text {
        padding: unset;
    }
}
